body {font-family: Arial, Helvetica, sans-serif;}
h1{

    color: forestgreen;
}
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: teal; 
  background-color: turquoise;
}
#btn{
    background-color: rgb(141, 144, 235);
    border-radius: 5px;
    color: beige;
    font-weight: 200;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}